/*
 *= require_self
 *= require_tree .
 */

// 15 column grid
// -------------------------
$gridColumns:             15;
$gridColumnWidth:         48px;
$gridGutterWidth:         16px;

$gridColumnWidthLarge:     55px;
$gridGutterWidthLarge:     24px;

$gridColumnWidthTablet:      33px;
$gridGutterWidthTablet:      16px;



@import "bootstrap";
@import "bootstrap-responsive";


body {
  background: url(/red_bokeh.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /*font-family: Optima;*/
  /*font-family: Verdana;*/

  font-family: Tahoma, Verdana;
  color: #DDD;
}

p {
  font-size: 13px;
  color: #BBB;
}

a {
  color: #BCD;
}

a:hover {
  text-decoration: underline;
}

#and {
  padding-top: 180px;
  font-size: 150%;
  text-align: center;
  color: #AAA;
  font-weight: bold;
}

.subject {
  .header {
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
  }
}
