/*
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-responsive";


body {
  background: url(/red_bokeh.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /*font-family: Optima;*/
  /*font-family: Verdana;*/

  font-family: Tahoma, Verdana;
  color: #DDD;
}

p {
  font-size: 13px;
  color: #BBB;
}

a {
  color: #BCD;
}

a:hover {
  text-decoration: underline;
}

#and {
  color: #AAA;
  font-weight: bold;
}
